@font-face {
    font-family: 'Loura';
    src: url('/fonts/LouraRegular.woff2') format('woff2'),
        url('/fonts/LouraRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
