@font-face {
    font-family: 'Loura';
    src: url('/font/LouraRegular.woff2') format('woff2'),
        url('/font/LouraRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
