<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ get_url(path='styles.css') }}">
  <title>Fonda Design</title>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} 
      <h1 class="title loura" style="font-size: 5rem;">
        FONDa
      </h1>

      <p style="font-size: 1.3rem;">
        VISUAL CURATOR<br />
        ARTIST<br />
        PAINT COLORIST
      </p>

      <p>
        CATHY SWETT<br />
        FONDADESIGN.COM@GMAIL.COM
      </p>
      {% endblock %}
    </div>
  </section>
</body>

</html>

