{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">

    <div class="card-container">
        <div class="card">
            <img src="/images/libeco1.jpg" alt="Fabric Image" class="header-image">
        </div>
        <div class="business-card">
            <h1>FONDa</h1>
            <p class="larger-text">
                VISUAL CURATOR<br />
                ARTIST
            </p>
            <div class="contact-info">
                <p>
                    CATHY SWETT<br />
                <a href="mailto:FONDADESIGN.COM@GMAIL.COM">FONDADESIGN.COM@GMAIL.COM</a>
            </p>
            </div>
        </div>
        <br />
    </div>
</div>
</section>
    <script>
        document.addEventListener('click', function() {
            window.location.href = '/work'; 
        });
    </script>
{% endblock content %}
